params.input_folder = "s3://uwlm-personal/nkrumm/GLT_v3_run/"

workDir = 's3://uwlm-personal/nkrumm/nextflow-work-dir'

executor.disableRemoteBinDir = true


process {
  scratch = "/docker_scratch"
  queue = 'ngs-queue'
  executor = 'awsbatch'
}

aws {
      region = 'us-west-2'
      batch {
        volumes = '/docker_scratch'
        cliPath = '/home/ec2-user/miniconda/bin/aws'
      }
}